services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: digisign
      MONGO_INITDB_ROOT_PASSWORD: digisign123
    volumes:
      - mongo-data:/data/db
  mongo-express:
    image: mongo-express:latest
    container_name: mongo_express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: digisign
      ME_CONFIG_MONGODB_ADMINPASSWORD: digisign123
      ME_CONFIG_MONGODB_URL: mongodb://digisign:digisign123@mongodb:27017/
      ME_CONFIG_BASICAUTH: "false"

volumes:
  mongo-data:

